<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDziJKzQbgxTMDW7o_lkwZoeFdT1XI3ie4</string>
	<key>GCM_SENDER_ID</key>
	<string>358299636601</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dughri</string>
	<key>PROJECT_ID</key>
	<string>travelapp-16f98</string>
	<key>STORAGE_BUCKET</key>
	<string>travelapp-16f98.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:358299636601:ios:e2bb4e9d38414c6c08d5a8</string>
</dict>
</plist>